.subtext {
  margin-top: -5px;
  padding-left: 25px;
  color: rgb(var(--color-text));
}

.spacer {
  border-top: 2px solid rgb(var(--color-accent));
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 10px;
}

.highlight {
  color: rgb(var(--color-accent));
}
