/* Variables */
:root {
  /* Theme modifiable */
  --color-background: 237, 241, 245;
  --color-foreground: 250, 250, 250;
  --color-foreground-grey: 245, 246, 246;
  --color-foreground-grey-dark: 234, 236, 237;
  --color-foreground-blue: 246, 248, 251;
  --color-foreground-blue-dark: 241, 243, 247;
  --color-text: 92, 114, 138;
  --color-text-light: 122, 133, 143;
  --color-text-lighter: 146, 153, 161;
  /* No theming */
  --color-overlay: 31, 38, 49;
  --color-text-bright: 237, 241, 245;
  --color-blue: 61, 180, 242;
  --color-red: 232, 93, 117;
  --color-blue-dim: 141, 178, 219;
  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;
  --color-peach: 250, 122, 122;
  --color-orange: 247, 154, 99;
  --color-yellow: 247, 191, 99;
  --color-green: 123, 213, 85;
  /* Changeable option */
  --color-accent: var(--color-blue);
}

/* Global tag modifiers */
body {
  line-height: 1.15;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(var(--color-background));
  font-size: 12px;
}

a {
  text-decoration: none;
  color: rgb(var(--color-text));
  transition: .3s;
}

a:hover {
  color: rgb(var(--color-accent));
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--color-background));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--color-accent));
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=checkbox] {
  visibility: hidden;
}

/* Main page div */
#container {
  padding: 10px;
  width: 440px;
}

/* Formatting */
.section {
  background: rgb(var(--color-foreground));
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
}

.section-title {
  color: rgb(var(--color-text));
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.title {
  color: rgb(var(--color-text));
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.spacer {
  border-top: 2px solid rgb(var(--color-accent));
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 10px;
}

/* Decoration */
.button {
  background: rgb(var(--color-accent));
  color: rgb(var(--color-text-bright));
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  cursor: pointer;
  margin: 10px;
  padding: 10px 15px;
  transition: .3s;
}

.checkbox {
  position: relative;
}

.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 17px;
  height: 17px;
  top: 0;
  left: 0;
  background-color: rgb(var(--color-accent));
  border-radius: 3px;
}

.checkbox label:after {
  opacity: 0.1;
  content: '';
  position: absolute;
  width: 8px;
  height: 4px;
  background: transparent;
  top: 4px;
  left: 3px;
  border: 3px solid rgb(var(--color-text-bright));
  border-top: none;
  border-right: none;
  transform: rotate(-55deg);
}

.checkbox label:hover::after {
  opacity: 0.5;
}

.checkbox input[type=checkbox]:checked+label:after {
  opacity: 1;
}

.disabled {
  background: rgba(var(--color-accent), 0.5);
  cursor: not-allowed;
}

.highlight-hover {
  color: rgb(var(--color-text));
  transition: .3s;
}

.highlight-hover:hover {
  color: rgb(var(--color-accent));
}

.highlight {
  color: rgb(var(--color-accent));
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.avatar {
  border-radius: 50%;
  vertical-align: middle;
  object-fit: cover;
}

.subtext {
  margin-top: -5px;
  padding-left: 15px;
  color: rgb(var(--color-text));
}

.icon {
  color: rgba(var(--color-text), 0.4);
  transition: .3s;
  cursor: pointer;
}

.icon:hover {
  color: rgb(var(--color-accent));
}

.text-input-container {
  background: rgb(var(--color-foreground));
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 35px;
  border-radius: 4px;
}

.text-input {
  background: rgb(var(--color-foreground));
  color: rgb(var(--color-text));
  width: 95%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 5px 8px 5px 8px;
}

.text-input::placeholder {
  color: rgba(var(--color-text-lighter), 0.8);
}

.text-input:focus {
  outline: none;
}
