body {
  width: 525px;
  height: 600px;
}

li {
  list-style-type: none;
  padding: 2 13 2 13;
  margin-bottom: 4px;
  cursor: pointer;
  transition: .3s;
}

li:hover {
  color: rgb(var(--color-accent));
}

#sidebar {
  height: 100%;
  width: 52px;
  float: left;
  position: relative;
  background-color: rgb(var(--color-foreground));
  border-right: rgb(var(--color-accent)) medium inset;
  color: rgb(var(--color-text));
}

#navigation {
  padding: 0;
}

#toast {
  pointer-events: none;
  position: absolute;
  padding-top: 20px;
  overflow: hidden;
  right: 0;
  top: 0;
  width: 470;
  height: 600;
}

#avatar img {
  position: inherit;
  width: 90%;
  border-radius: 50%;
  margin-left: 2px;
  margin-bottom: 6px;
  margin-top: 6px;
  object-fit: cover;
}

.toast {
  min-width: 100px;
  max-width: 75%;
  min-height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: rgba(var(--color-text-bright), .8);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.burnt {
  background-color: rgba(var(--color-red), .8);
}

.butter {
  background-color: rgba(var(--color-accent), .8);
}

.anilist-icon {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.notification-text {
  position: absolute;
  right: 2px;
  margin-top: 8px;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(var(--color-foreground));
  border-radius: 50%;
  background-color: rgb(var(--color-red));
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: rgb(var(--color-text-bright));
}
