body {
  width: 525px;
  height: 600px;
}

li {
  list-style-type: none;
  padding: 2 13 2 13;
  margin-bottom: 4px;
  cursor: pointer;
  transition: .3s;
}

li:hover {
  color: rgb(var(--color-accent));
}

#sidebar {
  height: 100%;
  width: 52px;
  float: left;
  position: relative;
  background-color: rgb(var(--color-foreground));
  border-right: rgb(var(--color-accent)) medium inset;
  color: rgb(var(--color-text));
}

#navigation {
  padding: 0;
}

#avatar img {
  position: inherit;
  width: 90%;
  border-radius: 50%;
  margin-left: 2px;
  margin-bottom: 6px;
  margin-top: 6px;
}

.anilist-icon {
  width: 100%;
  bottom: 0;
  position: absolute;
}
