a {
  color: inherit;
  text-decoration: none;
}

.notification {
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  color: rgb(var(--color-text));
  font-size: 1.2em;
  display: flex;
}

.notification-body {
  margin-left: 60px;
  margin-top: 14px;
  display: inline-block;
}

.notification-time {
  color: rgb(var(--color-text-lighter));
  font-size: 0.75rem;
  right: 20;
  position: absolute;
}

.unread {
  border-right: rgb(var(--color-accent)) medium inset;
}

.notification-icon {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  object-fit: cover;
}

.header {
  position: absolute;
  padding-top: 10px;
}

.icon-area {
  height: 20px;
  padding: 5px 10px 8px 10px;
  text-align: center;
  width: fit-content;
  margin-bottom: 10px;
  margin-left: auto;
}

.icon {
  color: rgba(var(--color-text), 0.8);
  transition: .3s;
  padding: 0 5px;
  cursor: pointer;
}

.icon:hover {
  color: rgb(var(--color-accent));
}
