.button {
  background: rgb(var(--color-accent));
  color: rgb(var(--color-text-bright));
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  cursor: pointer;
  margin: 10px;
  padding: 10px 15px;
  transition: .3s;
}

.text-input-container {
  background: rgb(var(--color-foreground));
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 35px;
  border-radius: 4px;
}

.text-input {
  background: rgb(var(--color-foreground));
  color: rgb(var(--color-text));
  width: 95%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 5px 8px 5px 8px;
}

.text-input::placeholder {
  color: rgba(var(--color-text-lighter), 0.8);
}

.text-input:focus {
  outline: none;
}
