.section {
  background: rgb(var(--color-foreground));
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 10px;
}

.section-title {
  color: rgb(var(--color-text));
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.title {
  color: rgb(var(--color-text));
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.spacer {
  border-top: 2px solid rgb(var(--color-accent));
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 35%;
  height: 10px;
}

.disabled {
  background: rgba(var(--color-accent), 0.5);
  cursor: not-allowed;
}

.highlight-hover {
  color: rgb(var(--color-text));
  transition: .3s;
}

.highlight-hover:hover {
  color: rgb(var(--color-accent));
}

.highlight {
  color: rgb(var(--color-accent));
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subtext {
  margin-top: -5px;
  padding-left: 15px;
  color: rgb(var(--color-text));
}

.icon {
  color: rgba(var(--color-text), 0.4);
  transition: .3s;
  cursor: pointer;
}

.icon:hover {
  color: rgb(var(--color-accent));
}
