:root {
  --sidebar-background: 31, 35, 45;
}

.theme-light {
  --color-background: 237, 241, 245;
  --color-foreground: 250, 250, 250;
  --color-foreground-grey: 245, 246, 246;
  --color-foreground-grey-dark: 234, 236, 237;
  --color-foreground-blue: 246, 248, 251;
  --color-foreground-blue-dark: 241, 243, 247;
  --color-text: 92, 114, 138;
  --color-text-light: 122, 133, 143;
  --color-text-lighter: 146, 153, 161;
}

.theme-dark {
  --color-background: 39, 44, 56;
  --color-foreground: 31, 35, 45;
  --color-foreground-grey: 25, 29, 38;
  --color-foreground-grey-dark: 16, 20, 25;
  --color-foreground-blue: 25, 29, 38;
  --color-foreground-blue-dark: 19, 23, 29;
  --color-text: 159, 173, 189;
  --color-text-light: 129, 140, 153;
  --color-text-lighter: 133, 150, 165;
}

.theme-contrast-dark {
  --color-background: 11, 22, 34;
  --color-foreground: 21, 31, 46;
  --color-foreground-grey: 15, 22, 31;
  --color-foreground-grey-dark: 6, 12, 19;
  --color-foreground-blue: 15, 22, 31;
  --color-foreground-blue-dark: 6, 12, 19;
  --color-text: 159, 173, 189;
  --color-text-light: 114, 138, 161;
  --color-text-lighter: 133, 150, 165;

  --sidebar-background: var(--color-foreground);
}

.theme-contrast {
  --color-background: 214, 224, 239;
  --color-foreground: 245, 246, 249;
  --color-foreground-grey: 229, 233, 245;
  --color-foreground-grey-dark: 221, 225, 239;
  --color-foreground-blue: 229, 233, 245;
  --color-foreground-blue-dark: 221, 225, 239;
  --color-text: 0, 0, 0;
  --color-text-light: 94, 101, 111;
  --color-text-lighter: 94, 101, 111;
  --color-shadow: 37, 41, 51;
  --color-blue: 18, 172, 253;
  --color-blue-dim: 85, 144, 208;
}
