/* Typography */

.text-h2 {
  font-size: .9rem;
}

.text-title {
  padding-left: 10px;
  padding-bottom: 5px;
}

.text-error {
  font-weight: normal;
  color: rgb(var(--color-red));
  transition: .3s;
}